
@{
    ViewData["Title"] = "Manager";
}

<body class="bodyColor">
    <div class="divSpaceForm">
        <h1 style="font-family:verdana; color: red" align="center"> @TempData["message"] </h1><br><br>
        <img src="~/images/Intra.jpg" class="center-block">
        <table class="table">
            <caption style="color:#f0ad4e">Requirements List Of All Users :</caption>
            <tr>
                <th style="color:white;">User :</th>
                <th style="color:white;">Start :</th>
                <th style="color:white;">End : </th>
                <th style="color:white;">Reason :</th>
                <th style="color:white;"></th>
            </tr>
            @foreach (var item in ViewData["list"] as Newtonsoft.Json.Linq.JArray)
            {
                @if (item["state"].ToString() == "0")
                {
            <tr>
                <td style="color:white;">@item["userEmailIntra"]</td>
                <td style="color:white;">@item["start"]</td>
                <td style="color:white;">@item["end"]</td>
                <td style="color:white;">@item["reason"]</td>
                <td>
                    <form method="post" action="Manager/changeStateRequest" name="formRefuse" id="formRefuse">
                        <input hidden value="@item["userEmailIntra"]" id="emailUser" name="emailUser">
                        <input hidden value="@item["id"]" id="idRequest" name="idRequest">
                        <input hidden value="-1" id="newState" name="newState">
                        <button class="btn btn-danger btn-block" type="submit" name="sendRefuse" id="sendRefuse">Refuse</button>
                    </form>
                    <br>
                    <form method="post" action="Manager/changeStateRequest" name="formAccept" id="formAccept">
                        <input hidden value="@item["userEmailIntra"]" id="emailUser" name="emailUser">
                        <input hidden value="@item["id"]" id="idRequest" name="idRequest">
                        <input hidden value="1" id="newState" name="newState">
                        <button class="btn btn-warning btn-block" type="submit" name="sendAccept" id="sendAccept">Accept</button>
                    </form>
                </td>
            </tr>
                    }
                }
        </table>
    </div>
</body>


